[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
e1839a8 = {path = ".",editable = true}
ona-tasking = {editable = true,git = "https://github.com/onaio/tasking.git",ref = "v0.2.2"}
redis = "*"
allauth-onadata = {ref = "v0.0.2",git = "https://github.com/onaio/django-allauth-onadata.git",editable = true}
djangorestframework-csv = "*"
django-crispy-forms = "*"
future = "*"
kaznet = {path = ".",editable = true}
urllib3 = ">=1.25.3"
django-prices = "==1.0.4"

[dev-packages]
"flake8" = "*"
pylint = "*"
pycodestyle = "*"
coverage = "*"
tox = "*"
yapf = "*"
isort = "*"
ipdb = "*"
model-mommy = "*"
tblib = "*"
requests-mock = "*"
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"
bandit = "*"

[requires]
python_version = "3.6"
