[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
"e1839a8" = {editable = true, path = "."}
ona-tasking = {editable = true, ref = "v0.1.7", git = "https://github.com/onaio/tasking.git"}
redis = "*"
allauth-onadata = {git = "https://github.com/onaio/django-allauth-onadata.git", ref = "v0.0.2", editable = true}

[dev-packages]
"flake8" = "*"
"pep8" = "*"
pylint = "*"
pycodestyle = "*"
coverage = "*"
tox = "*"
yapf = "*"
isort = "*"
ipdb = "*"
model-mommy = "*"
"autopep8" = "*"
tblib = "*"
requests-mock = "*"
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"

[requires]
python_version = "3.6"
